.navbar {
  display: flex;
  padding: 20px 0;
  height: 65px;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  margin: auto;
  align-content: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  width: 100%;
}

.searchbar {
  position: relative;
}

.searchbar label {
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255, 0.7);
  left: 0px;
  pointer-events: none;
  font-size: 70%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.searchbar input {
  display: block;
  height: 1.5em;
  color: #fff;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.788);
}

.searchbar input:focus ~ label,
.searchbar input:valid ~ label {
  font-size: 60%;
  left: 0;
  top: -10px;
  color: rgba(255, 255, 255, 0.884);
}

.searchbar input:valid,
.searchbar input:focus {
  border-bottom: 1px solid rgba(26, 115, 232, 0.884);
}
